@mixin center {
  display: flex;
  justify-content: center;
}

@mixin centerc {
  @include center;
  align-items: center;
}

@mixin px($value) {
  padding-top: $value;
  padding-bottom: $value;
}


$dark: #356a83;
$light: white;

$padding-banners: 4em;

$char-normal: 1rem;